# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.buildinfo

# Directories
/build
/doc/doxygen/html
/doc/doxygen/latex
/doc/doxygen/xml
/doc/sphinx/_build
.vscode
/doc/sphinx/notebooks/.ipynb_checkpoints
/examples/.ipynb_checkpoints/

# temp files	
/dcgpy/_version.py
/doc/doxygen/Doxyfile
/doc/sphinx/conf.py
/include/dcgp/config.hpp
