.wy-side-nav-search {
    background-color: #345a33
}

.wy-nav-top {
    background: #345a33;
}

.wy-side-nav-search a:visited  {
    color: #fcfcfc;
}
.wy-menu-vertical a:visited {
    color: #fcfcfc;
}

.highlight {
    background: #222222;
    color: #AAA;
}

.highlight .go {
    color: #925b5b;
}

.highlight .nf {
    color: #b9cc38;
}

.highlight .n {
    color: #c5c5c5;
}

.rst-content dl:not(.docutils) dt{
    background: #d7e2af;
    color: #829040;
    border-top: solid 3px #b3ab31;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
    color: #b3ab31;
}

a:visited {
    color: #38d230;
}
a {
    color: #208050;
}

div.nbinput .n {
    color: rgb(174, 174, 174);
}