# This is a basic workflow to help you get started with Actions
name: osx 
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-macos-10_15-release:
    # The type of runner that the job will run on
    runs-on: macos-10.15
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: bash tools/gha_macos-10.15_release.sh

  build-macos-10_15-debug:
    # The type of runner that the job will run on
    runs-on: macos-10.15
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: bash tools/gha_macos-10.15_debug.sh

  build-macos-10_15-python:
    # The type of runner that the job will run on
    runs-on: macos-10.15
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: bash tools/gha_macos-10.15_python.sh
